.GetInvolved{
  position: relative;
}
.GetInvolved h5{
  font-size: 17px;
  color: #192573;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.GetInvolved .far{

}
.GetInvolved a{
  color: inherit;
}
@media only screen and (max-width: 600px) {

}
