.TitleSection{
  margin-top: 56px;
  position: relative;
}
.TitleSection .jumbotron{
  background-image: url("../images/vancouver-island-sunset.jpg");
  background-size: cover;
  border-radius: 0;
}
.TitleSection .jumboInner{
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
}
.TitleSection .lead{
  font-size: 25px;
}
.TitleSection .jumbotron{
  margin-bottom: 0 !important;
}
