.VoteSection{
  position: relative;
}
.VoteSection .card-img-top{
  max-height: 40vh;
}
.VoteSection .noCounter{
  color: red;
}
.VoteSection .yesCounter{
  color: green;
}
.VoteSection hr{
  width: 50%;
}
.VoteSection .noSpan{
  color: red;
}
.VoteSection .yesSpan{
  color: green;
}
.VoteSection .column{
  width: 50%;
}
